@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Alkalami', 'serif', 'Open Sans', 'sans-serif';
    background-image: url("../img/mainbackground.jpg");
    backdrop-filter: blur(10px);
    padding-bottom: 20px;
}
.header{
    padding: 10px 5%;
    padding-bottom: 100px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.01));
}
nav{
    align-items: center;
    width: 50%;
}
ul{
    list-style: none;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    height: 50px;
    font-size: 25px;
}
a, a:hover{
    text-decoration: none;
    color: initial;
}
.navitem{
    margin-bottom: 0;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;

    align-items: center;
    border: solid 5px black;
    line-height: 40px;
    border-radius: 80px;

    user-select: none;
}
.navitem:hover, .active{
    background-color: aliceblue;
    position: relative;
    transform: translateY(10px);
    transition: 250ms;
}
.active, .active *{
    cursor:default;
}
.navitem:not(hover){
    transition: 250ms;
}
.logo{
    width: 170px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 80px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 250ms;
}
.logo:hover{
    transform: scale(120%);
    transition: 250ms;
    background-color: white;
}
.flex{
    display: flex;
}


.card{
    background-color: rgb(39, 39, 39);
    color: 	hwb(19 58% 0% / 0.698);
    padding: 20px;
}
.card-icon{
    width: 50px;
}
.cardbutton{
    background-color: hwb(19 58% 0% / 0.698);
    width: 50%;
    height: 15%;
    font-size: 15px;
    font-weight: 800;
    color: rgb(39, 39, 39);
    border-radius: 15px;
    border: none;
}
.cardbutton:hover{
    border: solid 3px hwb(19 58% 0% / 0.698);
    background-color: black;
    color: hwb(19 58% 0% / 0.698);
    transform: scale(120%);
    transition: 250ms;
}
.cardbutton:not(hover){
    transition: 250ms;
}
.footerlink{
    color: hwb(19 58% 0% / 0.698);
}
.footerlink:hover{
    color: hwb(19 58% 0% / 0.698);
    text-decoration: underline;
}

footer{
    background-color: rgb(39, 39, 39);
    color: hwb(19 58% 0% / 0.698);
    margin: 10px 5%;
    display: grid;
    grid-template-columns: 50% 15% 25%;
    justify-content: space-evenly;
    padding: 20px;
}
.text-center{
    text-align: center;
}